@if (@ViewBag.OperationName != null)
{

    <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>@ViewBag.OperationName</strong>
    </div>
}
else
{

    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>@ViewBag.Error</strong>
    </div>
}