@using IntegratedFlghtDynamicSystem.Areas.Default.ViewModels
@model MassInertialCharactViewModel

@{
    ViewBag.Title = "AddMic";
    Layout = "~/Areas/Default/Views/Shared/_SpCrLayout.cshtml";
    var viewModel = (MainSpacecraftLayoutViewModel)ViewData["MainSpacecraftLayoutViewModel"];
}

@section Title
{
    <h1>Добавление массо-инерционных характеристик</h1>
}
@section Reference
{
    <li><a href="@Url.Action("Index",@viewModel.CotrollerName, new { id = Session["SpCrId"] })"><i class="fa fa-dashboard"></i>Главная</a></li>
    <li class="active"><i class="fa fa-edit"></i>Добавить МИХ</li>
}

@Html.Action("AddMic","MassInerCharacteristic")


@section scripts
{
    @Scripts.Render("~/Scripts/addData")
}