<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://isfdsc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>isfdsc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>isfdsc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$isfdsc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:y9rs41idyv.database.windows.net,1433;Initial Catalog=ISFDS2;User ID=aykSpace@y9rs41idyv;Password=Gus232054" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntegratedFlghtDynamicSystem.Models.UsersContext, IntegratedFlghtDynamicSystem" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IntegratedFlghtDynamicSystem.Models.ISFDSEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:y9rs41idyv.database.windows.net,1433;Initial Catalog=ISFDS2;User ID=aykSpace@y9rs41idyv;Password=Gus232054" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntegratedFlghtDynamicSystem.Models.ISFDSEntities, IntegratedFlghtDynamicSystem" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ISFDS2Entities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:y9rs41idyv.database.windows.net,1433;Initial Catalog=ISFDS2;User ID=aykSpace@y9rs41idyv;Password=Gus232054" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntegratedFlghtDynamicSystem.Models.ISFDS2Entities, IntegratedFlghtDynamicSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ISFDSDB" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:y9rs41idyv.database.windows.net,1433;Initial Catalog=ISFDS2;User ID=aykSpace@y9rs41idyv;Password=Gus232054" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=y9rs41idyv.database.windows.net,1433;Initial Catalog=ISFDS2;Integrated Security=True;User ID=aykSpace;Password=Gus232054;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ISFDSDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=y9rs41idyv.database.windows.net,1433;Initial Catalog=ISFDS2;Integrated Security=True;User ID=aykSpace;Password=Gus232054;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="mkcdc2" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:y9rs41idyv.database.windows.net,1433;Initial Catalog=ISFDS2;User ID=aykSpace@y9rs41idyv;Password=Gus232054" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=mkcdc2;PERSIST SECURITY INFO=True;USER ID=SADIK;PASSWORD=sadik" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\mkcdc2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=mkcdc2;PERSIST SECURITY INFO=True;USER ID=SADIK;PASSWORD=sadik" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:y9rs41idyv.database.windows.net,1433;Initial Catalog=ISFDS2;User ID=aykSpace@y9rs41idyv;Password=Gus232054</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IntegratedFlghtDynamicSystem.Models.ISFDSEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:y9rs41idyv.database.windows.net,1433;Initial Catalog=ISFDS2;User ID=aykSpace@y9rs41idyv;Password=Gus232054</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ISFDS2Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.IntegratedDataBaseModel.csdl|res://*/Models.IntegratedDataBaseModel.ssdl|res://*/Models.IntegratedDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:y9rs41idyv.database.windows.net,1433;Initial Catalog=ISFDS2;User ID=aykSpace@y9rs41idyv;Password=Gus232054"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ISFDSDB-Web.config Connection String">
      <ParameterValue>data source=tcp:y9rs41idyv.database.windows.net,1433;initial catalog=ISFDS2;user id=aykSpace@y9rs41idyv;password=Gus232054;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mkcdc2-Web.config Connection String">
      <ParameterValue>Data Source=tcp:y9rs41idyv.database.windows.net,1433;Initial Catalog=ISFDS2;User ID=aykSpace@y9rs41idyv;Password=Gus232054</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="IntegratedFlghtDynamicSystem.Models.ISFDSEntities" />
  </ItemGroup>
</Project>