<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testingproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>testingproject.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>testingProject</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$testingProject</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:b5nejvfo0j.database.windows.net,1433;Initial Catalog=ISFDS;User ID=aykspace@b5nejvfo0j;Password=B2ak1488" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntegratedFlghtDynamicSystem.Models.UsersContext, IntegratedFlghtDynamicSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ISFDSEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:b5nejvfo0j.database.windows.net,1433;Initial Catalog=ISFDS;User ID=aykspace@b5nejvfo0j;Password=B2ak1488" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntegratedFlghtDynamicSystem.Models.ISFDSEntities, IntegratedFlghtDynamicSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ISFDSDB" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:b5nejvfo0j.database.windows.net,1433;Initial Catalog=ISFDS;User ID=aykspace@b5nejvfo0j;Password=B2ak1488" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=UNISPUMA\SQLEXP;Initial Catalog=ISFDS;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ISFDSDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=UNISPUMA\SQLEXP;Initial Catalog=ISFDS;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="mkcdc2" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:b5nejvfo0j.database.windows.net,1433;Initial Catalog=ISFDS;User ID=aykspace@b5nejvfo0j;Password=B2ak1488" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=mkcdc2;PERSIST SECURITY INFO=True;USER ID=SADIK;PASSWORD=sadik" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\mkcdc2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=mkcdc2;PERSIST SECURITY INFO=True;USER ID=SADIK;PASSWORD=sadik" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:b5nejvfo0j.database.windows.net,1433;Initial Catalog=ISFDS;User ID=aykspace@b5nejvfo0j;Password=B2ak1488</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ISFDSDB-Web.config Connection String">
      <ParameterValue>data source=tcp:b5nejvfo0j.database.windows.net,1433;initial catalog=ISFDS;user id=aykspace@b5nejvfo0j;password=B2ak1488;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ISFDSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.IntegratedDataBase.csdl|res://*/Models.IntegratedDataBase.ssdl|res://*/Models.IntegratedDataBase.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:b5nejvfo0j.database.windows.net,1433;Initial Catalog=ISFDS;User ID=aykspace@b5nejvfo0j;Password=B2ak1488"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mkcdc2-Web.config Connection String">
      <ParameterValue>Data Source=tcp:b5nejvfo0j.database.windows.net,1433;Initial Catalog=ISFDS;User ID=aykspace@b5nejvfo0j;Password=B2ak1488</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>