@{
    ViewBag.Title = "AddSpacecraft";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Title
{
    <h1>Прогнозирование положения КА</h1>
}
@section Reference
{
    <li><a href="@Url.Action("Index")"><i class="fa fa-dashboard"></i>Главная</a></li>
    <li class="active"><i class="fa fa-edit"></i>Добавить КА</li>
}
